.mobile-label{
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }
  .table-header-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  .mat-header-cell{
    text-transform: capitalize;
  }