.loading-button{
  width: 8rem; display: flex;  justify-content: center;
}

.withPadding{
  padding: 8px;
}
//:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
//  stroke: #fff !important;
//}
