.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mat-card {
  padding: 0 !important;
  border-radius: 0.9em;
}

.login-container {
  width: 70%;

}
.login__welcome{
  display: flex;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
  flex-direction: column;
  background: linear-gradient(to top, #7986cb, #fff);
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);
}
.login__welcome > h2 {
  position: relative;
  bottom: -1.5em;
}

.header-title {
  background-image: linear-gradient(to top, #7986cb, #102846);
  -webkit-background-clip: text;
  background-size: contain;
  font-size: 3em;
  height: 1em;
  color: transparent;
  font-weight: bolder;
  text-shadow:
    2px 2px 10px rgba(#102846, 0.1),
    -2px 2px 10px rgba(#102846, 0.1),
    -2px -2px 10px rgba(#102846, 0.1);
}
.login__welcome > img {
  width: 100%;
}
.login__form{
  min-height: calc(100vh - 10rem);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__form > h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #000F2D;
}
.login__form > h2 {
  font-size: 2em;
  color: #000F2D;
}
@keyframes shine {
  0% {background-position: -100%;}
  100% {background-position: 100%;}
}
