<div class="container">
  <mat-card class="login-container">
    <mat-card-content fxLayout="row wrap"
                      fxLayout.lt-sm="column"
                      fxLayoutGap.lt-sm = "0">
      <div fxFlex class="login__welcome" fxHide.lt-sm>
        <h2 class="header-title">Welcome Back!</h2>
        <img src="/assets/inventory.svg" alt="inventory" />
      </div>
      <div fxFlex class="login__form">
        <h2 class="header-title">Login</h2>
        <h3>Please login to your account</h3>
        <app-form [form]="form"></app-form>
<!--        <a style="align-self: flex-start; color: #000F2D" [routerLink]="'/forgot-password'">Forgot your password?</a>-->
        <a style="align-self: flex-start; color: #000F2D" href="#">Forgot your password?</a>
        <app-loading-button [isLoading]="false" style="align-self: flex-end;">Login</app-loading-button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
