<mat-tab-group [backgroundColor]="'primary'">
    <mat-tab [title]="'Insert Weapons to store'" [label]="'Insert Weapons to store'">
        <ng-template matTabContent>
            <app-basic
                [form]="form"
                [dataSourceUrl]="dataSourceUrl"
                [actions]="actions">
            </app-basic>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'View Store'">
        <ng-template matTabContent>
            <h4>View store grouped by type and model</h4>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'Distribute Weapon'">
        <ng-template matTabContent>
            <h4>Distribute weapons</h4>
        </ng-template>
    </mat-tab>
</mat-tab-group>