<!-- <div class="content-container">
  <button mat-raised-button (click)="localError()">
    Local front end error
  </button>
  <button mat-raised-button (click)="failingRequest()">
    Server request with error
  </button>
  <button mat-raised-button (click)="successfulRequest()">
    Successful request showing loading spinner
  </button>
</div> -->

<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div  *ngIf="card.title == 'board'" fxLayout="row" fxLayoutAlign="space-around center"  >
            <div *ngFor="let item of statCardList">
                <mat-card fxLayout="row" fxLayoutGap="30px">
                  <mat-icon>{{ item.icon}}</mat-icon>
                    <div>
                      <p>{{ item.title }}</p>
                      <h5>{{ item.amount }}</h5>
                    </div>
                  <button mat-icon-button matTooltip="view more">
                    <mat-icon>arrow_right_alt</mat-icon>
                  </button>
                </mat-card>
            </div>
          </div>

          <ngx-charts-pie-chart
          *ngIf="card.title == 'pieChart'"
            [results]="pieChartData"
            [gradient]="gradient"
            [legend]="showLegend"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            >
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
